[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
flake8-builtins = "*"
flake8-bugbear = "*"
flake8-import-order= "*"
flake8-docstrings = "*"
flake8-quotes = "*"
coverage = "*"
pytest = "*"
pytest-flake8 = "*"
pytest-cov = "*"
setuptools = "*"
wheel = "*"
pytest-asyncio = "*"
async_generator = "*"
pytest-aiohttp = "*"

[packages]
aiohttp = "==3.6.*"
ujson = "==3.0.*"

[requires]
python_version = "3.5"